
/* PRELOADER CSS */
.kv_loader {
  box-sizing: border-box;
  position: relative;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

.kv_loader:after,
.kv_loader:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  background: #13693a;
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}

.kv_loader:before {
  transform-origin: 0 50%;
  background: #8cbf44;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.btn-loader {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}

.bg-gradient-green {
  background: linear-gradient(33deg, #13693a, #8cbf44, #13693a);
}


.admin-navlink.active li>button {
  background: linear-gradient(33deg, #13693a, #8cbf44);
  color: white;
  box-shadow: 0 0 5px #8cbf44;
}

li[data-sidebar="menu-item"]:has(.admin-navlink.active)>button {
  background: linear-gradient(33deg, #13693a, #8cbf44);
  color: white;
  box-shadow: 0 0 5px #8cbf44;
}

.sidebar_menu:hover {
  transform: scale(1.02);
}

.sidebar_menu a::before {
  content: "";
  width: 15px;
  height: 100%;
  background: linear-gradient(33deg, #13693a, #8cbf44);
  position: absolute;
  top: 0;
  left: -100%;
  border-radius: 0 0.8rem 0.8rem 0;
  transition: all 0.2s ease;
}

.sidebar_menu a:hover,
.sidebar_menu a.active {
  color: #13693a;
  border-color: #13693a69;
  background: white;
}

.sidebar_menu a.active::before {
  left: 0;
}

.sidebar_menu:has(.submenu a.active) {
  background-color: #f8f8f8;
}

.sidebar_menu:has(a.active) {
  background-color: #f8f8f8;
  scale: 0.95;
}

.sidebar_menu:has(.submenu a.active)>a {
  color: #13693a;
  border-color: #13693a69;
  background: white;
}

.sidebar_menu:has(.submenu a.active)>a::before {
  left: 0;
}

.sidebar_menu:has(.submenu a.active)>.submenu {
  display: block;
}

.sidebar_menu a:hover::before {
  left: 0;
}

.sidebar_menu.has_submenu:hover .arrow_down {
  rotate: 180deg;
}


.submenu {
  display: none;
}

.sidebar_menu.has_submenu:hover .submenu {
  display: block;
}

.submenu a {
  border: 1px dashed #e5e5e5;
  display: block;
  border-radius: 10px;
  margin: 5px 0;
  text-align: center;
}

.submenu a:hover {
  scale: 0.95;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #13693a;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  color: #ffffff70;
  /* box-shadow: 0 0 1px rgb(0, 0, 0); */
}

.bg-sidebar {
  background-color: white;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-bottom: 4px solid #8cbf44;
  border-left: 4px solid transparent;
  /* box-shadow: 0 0 1px rgb(0, 0, 0); */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}